<link rel="stylesheet" href="https://use.typekit.net/tos3gjw.css">

@font-face {
    font-family:Motter Ombra;
    src:url(Motter-Ombra.woff2') format('woff2'),
        url('Motter-Ombra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family:futura-pt-condensed;
   src:url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6f8764/000000000000000000012039/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
   font-display:auto;
   font-weight:500;
   font-style:normal;
}

h1 {
  font-family:Motter-Ombra,sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0a9df2;
  font-size:4vw;
  line-height:2vh;
  letter-spacing:.1vw;
}

p {
  font-family:futura-pt-condensed,sans-serif; 
  font-weight:500;
  font-style:normal;
  color:#4f5359;
  font-size:2vh;
  color:#4f5359;
  max-width:50vw;

}

.indent1 {
  margin-left:50vw;
}

.left {
    float:left;
    padding: 0 20px 20px 0;
}



